@import url('https://fonts.googleapis.com/css2?family=Honk:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+Australia+VIC+WA+NT+Hand:wght@400;500&display=swap');

body {
    background-color: lightblue;
    margin: 100px 0 0 0;
    padding: 0;
    font-family: 'Edu Australia VIC WA NT Hand', cursive;
}

.header-container {
    
}

.links-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 30px;
}

.links-container a i {
    margin: 15px 5px;
    font-size: 24px;
    color: #000;
}

.links-container a i:hover {
    color: #474747;
}

.links-container a i:active {
    color: #ff7d7d;
}

.center-image-container {
    display: float;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: aquamarine;
    border: 2px solid black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.center-image-container img {
    display: block;
    margin: 10px auto;
    
}
.center-image-container h2 {
    display: block;
    margin: 10px auto;
    font-size: 24px;
    font-weight: 550; 
    text-align: center;
    transform: translateY(-100%);
}

.center-image-container p {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    width: 50%;
    text-align: center;
    transform: translateY(-20%);
    font-style: italic;
}

button {
    font-family: 'Honk', sans-serif;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0 3px;
    transform: translateY(-5%);
    font-size: 18px;
    font-weight: 400;
}



@media (max-width: 768px) {
    .project-container {
        width: 100%;
        height: fit-content;
    }

    .center-image-container p {
        width: 75%;
    }


}
